@use "src/styles/colors";

.input {
  padding: 10px;
  border: 1px solid colors.$border-color;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }
}