@import "src/styles/breakpoints";
@import "src/styles/mixins";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px;
    box-sizing: border-box;    
    max-width: $screen-xl-min;
    width: 100%;
  }

  // &__main-content {
  //   display: flex;
  //   justify-content: space-between;
  //   // margin: 10px -50px;
  // }

  &__column {
    display: flex;
    
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  &__list {
    // width: 100%;
  }

  @include sm {
    padding: 5px 20px;
  }

  @include lg {
    &__main {
      flex-direction: row;
    }

    &__column {
      max-width: 550px;
    }
  }
}



