@import "src/styles/colors";

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &__item {
    display: flex;
    padding: 20px 15px;

    &_not-even {
      background-color: $background-color;
      border-radius: 5px;
      border: 1px solid $gray100;
    }
  }
}