@use "src/styles/mixins";
@use "src/styles/colors";

.url-form {
  display: flex;
  flex-direction: column;
  background-color: colors.$background-color;
  width: 100%;
  height: fit-content;
  padding: 20px;
  border: 1px solid colors.$border-color;
  border-radius: 5px;
  box-sizing: border-box;

  &__input-title {
    font-size: 1rem;
  }

  &__input-line {
    display: flex;
    flex-direction: column;
    
  }

  &__input {
    margin-top: 10px;
  }

  &__error {
    color: colors.$red;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  &__submit-button {
    margin-top: 10px;
    width: 100%;
  }

  @include mixins.md {
    &__input-line {
      flex-direction: row;
    }

    &__submit-button {
      margin-left: 20px;
      width: 300px;
    }
  }
}
